* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lobster Two", cursive;
  font-weight: 600;
  font-size: 30px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.input {
  /* border: 1px rgb(64, 221, 163) solid; */
  height: 50%;
  padding-top: 0.5em;
}
.result {
  /* border: 1px yellow solid; */
  height: 50%;
  padding-top: 0.5em;
}
.container {
  width: 400px;
  height: 600px;
  border: 8px rgb(124, 110, 93) solid;
  border-radius: 10px;
}
.display {
  height: 25%;
  border-bottom: 8px rgb(124, 110, 93) solid;
  text-align: end;
}
.buttonsContainer {
  height: 75%;
  display: flex;
  background-color: bisque;
}
.numbers {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0.5rem 0.5rem;
  /* border: 1px yellow solid; */
}
.operators {
  display: flex;
  flex-direction: column;
  width: 20%;
  /* border: 1px green solid; */
  gap: 10px;
  margin: 0.5rem 0.5rem 0.5rem 0;
}
.numBtn {
  width: 33%;
}
.numRow {
  display: flex;
  /* border: 1px magenta dotted; */
  flex-grow: 1;
  gap: 10px;
}
.operatorBtn {
  flex-grow: 1;
  border-radius: 50%;
}

button {
  border: 0;
  border-radius: 0.7em;
  background-color: bisque;
  border: 3px solid #333;
  /* outline-offset: -10px; */
  cursor: pointer;
}
button:hover {
  outline-color: #140c0c;
  background-color: rgb(161, 134, 102);
  color: rgb(209, 208, 208);
}
button:active {
  background-color: bisque;
  color: black;
}
